{% extends 'base.html' %}
{% load static %}

{% block head_style %}
<style type="text/css">
	{% comment %} .media-body {
		max-width: 80% !important;
	}
	.assistant {
		margin-right:  20% !important;
		text-align: left !important;
	}
	.user {
		margin-left:  20% !important;
		text-align: right !important;
	} {% endcomment %}
</style>
{% endblock %}

{% block main_content %}
	<div class="container mt-4" v-scope>
		<h3>Talk to the Agriculture assistant</h3>
		<hr />
		<ul class="list-unstyled">
			<li class="d-flex flex-row">
			  <div class="assistant rounded pr-4 py-2">
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
			</li>
			<li class="my-4 d-flex flex-row-reverse">
			  <div class="user bg-info rounded px-4 py-2">
				Nulla vel metus scelerisque ante sollicitudin
			  </div>
			</li>
		</ul>

		<form id='formm' method="post" class="main-form mt-4">
			{% csrf_token %}
			<div class="form-row mb-2">
				<div class="col">
					<textarea class="form-control" id="ask" rows="3" placeholder="Start typing ..."></textarea>
				</div>
			</div>
			<input type="submit" id="submitt" value="Ask" class="btn btn-sm btn-success">
		</form>

		<hr />
		
	</div>
{% endblock %}

{% block footer_script %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
	<script src="https://unpkg.com/petite-vue" defer init></script>
	<script type="module">
		import { createApp } from 'https://unpkg.com/petite-vue?module'
	  
		createApp({
		  // exposed to all expressions
		  count: 0,
		  // getters
		  get plusOne() {
			return this.count + 1
		  },
		  // methods
		  increment() {
			this.count++
		  }
		}).mount()
	  </script>
	<script type="text/javascript">

		const form = document.getElementById('formm');
		form.addEventListener("submit", function(event) {
			event.preventDefault();

			let data = new FormData();
			data.append("content", JSON.stringify({
				"city": document.getElementById('fcityname').value,
				"ph": document.getElementById('fph').value,
				"nitrogen": document.getElementById('fnvalue').value,
				"phosphorous": document.getElementById('fphosvalue').value,
				"potassium": document.getElementById('fpotvalue').value,
			}));

			axios({
				method: 'POST',
				url: '{% url "calculate" %}',
				data: data,
				headers: {"X-CSRFToken": '{{ csrf_token }}'},
			}).then(res => {
				console.log(res)
				document.getElementById('resultt').innerHTML=JSON.stringify(res.data.content)
				document.getElementById('resulta').innerHTML=JSON.stringify(res.data.other)
			}).catch(errors => console.log(errors));
		});
	</script>
{% endblock %}