{% extends 'base.html' %}
{% load static %}

{% block title %}
Smart Farming
{% endblock %}

{% block bg_video %}
	<video autoplay muted loop id="bgVideo">
		<source src="{% static '/crop/videos/play.mp4' %}" type="video/mp4">
	</video>
{% endblock %}

{% block navigation %}{% endblock %}
{% block pre_main_content %}{% endblock %}

{% block main_content %}

	<div id="homeContainer">

		<div id="homeBanner" >
			<section class="mb-4">
				<h1>Smart Agriculture</h1>
				<p class=""> ----- Ancient Science. Modern Technology -----</p>
			</section>

			<section id="callToAction">
				<p>Unleash Your Farm's Productivity! Get Personalized Crop Recommendations! </p>
				<a href="{% url 'prediction' %}" class="btn btn-sm btn-success">Discover !!</a>
			</section>
		</div>

	</div>



{% endblock %}


{% block footer %}{% endblock %}	



{% block footer_script %}
<script>
	var video = document.getElementById("bgVideo");
	setTimeout(()=> {
		video.play();
		video.volume = 0.2;
		console.log(video.video);
	 }
	 , 3000);
</script>
{% endblock %}