{% extends 'base.html' %}
{% load static %}


{% block main_content %}
	<div class="container mt-4">
		<h3>Input Data from your soil analysis</h3>
		<hr />
		<form id='formm' method="post" class="main-form">
			{% csrf_token %}
			<div class="form-row mb-2">
				<div class="col">
					<input type="text" class="form-control" placeholder="City Name" name="name" id="fcityname" onfocus="this.value = '';">
				</div>
				<div class="col">
					<input type="number" step="0.01" class="form-control" name="soil" placeholder="Soil Ph" id="fph" onfocus="this.value = '';">
				</div>
				<div class="col">
					<input type="number" step="0.01" class="form-control" placeholder="Nitrogen" name="N" id="fnvalue" onfocus="this.value = '';">
				</div>
				<div class="col">
					<input type="number" step="0.01" class="form-control" placeholder="Phosphorous" name="P" id="fphosvalue" onfocus="this.value = '';">
				</div>
				<div class="col">
					<input type="number" step="0.01" class="form-control" placeholder="Potassium" name="K" id="fpotvalue" onfocus="this.value = '';">
				</div>
			</div>
			<input type="submit" id="submitt" value="Submit and Predict" class="btn btn-sm btn-success">
		</form>

		<hr />
		
		<div class="d-flex justify-content-start mb-4">
			<div class="card text-white bg-success" style="max-width: 18rem;">
				<div class="card-header">Main Recommendation</div>
				<div class="card-body">
					<p class="card-text" id="resultt"></p>
				</div>
			</div>
			<div class="card text-white bg-info ml-4" style="max-width: 18rem;">
				<div class="card-header">Secondary Alternatives</div>
				<div class="card-body">
					<p class="card-text" id="resulta"></p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer_script %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

	<script type="text/javascript">

		const form = document.getElementById('formm');
		form.addEventListener("submit", function(event) {
			event.preventDefault();

			let data = new FormData();
			data.append("content", JSON.stringify({
				"city": document.getElementById('fcityname').value,
				"ph": document.getElementById('fph').value,
				"nitrogen": document.getElementById('fnvalue').value,
				"phosphorous": document.getElementById('fphosvalue').value,
				"potassium": document.getElementById('fpotvalue').value,
			}));

			axios({
				method: 'POST',
				url: '{% url "calculate" %}',
				data: data,
				headers: {"X-CSRFToken": '{{ csrf_token }}'},
			}).then(res => {
				console.log(res)
				document.getElementById('resultt').innerHTML=JSON.stringify(res.data.content)
				document.getElementById('resulta').innerHTML=JSON.stringify(res.data.other)
			}).catch(errors => console.log(errors));
		});
	</script>
{% endblock %}