#bgVideo {
	position: fixed;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
  
#homeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	background:  rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	padding: 100px 50px;
	margin: 10% 10%;
}
  
#callToAction {
	margin-top: 74px;
}

#pageHeader {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/crop/images/fd-btm1.jpg");
	background-size: cover;
	min-width: 100% !important;
	color: white !important;
}